@import "../ext/Fluidbox/dist/css/fluidbox.min.css";
@import "../ext/jquery/jquery.tocify/jquery.tocify.css";

// SemanticUI
@import 'SemanticUI/semantic';

// Variables 全局变量 (必须放在 bootstrap 之后)
@import "variables";

// learnku.com 社区样式
@import "vendor/markdown";
@import "vendor/learnku_com";

html{
    font-size: 14px;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body{
    margin: 0;
    overflow-x: hidden;
    min-width: 320px;
    background: #fff;
    font-size: 14px;
    line-height: 1.4285em;
    color: rgba(0,0,0,.87);
    font-smoothing: antialiased;
}
.flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

// 头部
.header-search-left{
    border-radius: 500rem 0 0 500rem !important;
    border-right: 0 !important;
}
.header-search-right{
    border-radius:0 500rem 500rem 0 !important;
}

// 自定义样式
.column-max-width-500{
  .image {
    margin-top: -100px;
  }
  .column {
    max-width: 500px;
  }
}

// 弹出层
.upload-img{
    cursor: pointer;
}

// 图库灯箱
.editor-preview *, .editor-preview-active-side *, .markdown-body *, .markdown-reply *{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a.fluidbox {
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

.tocify-subheader {
    display: block;
}
