@import "../ext/jquery/jquery.tocify/jquery.tocify.css";

// SemanticUI
@import 'SemanticUI/semantic';

// Variables 全局变量 (必须放在 bootstrap 之后)
@import "variables";

// learnku.com 社区样式
@import "vendor/markdown";
@import "vendor/learnku_com";

.flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

// 头部
.header-search-left{border-radius: 500rem 0 0 500rem !important;border-right: 0 !important;}
.header-search-right{border-radius:0 500rem 500rem 0 !important;}

// 自定义样式
.column-max-width-500{
  .image {
    margin-top: -100px;
  }
  .column {
    max-width: 500px;
  }
}

// 弹出层
.upload-img{
    cursor: pointer;
}
